@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;700&display=swap");
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: $secondaryFont;
  font-weight: 400;
  width: 100%;
}

h1 {
  font-family: $primaryFont;
  font-size: 2rem;
  font-weight: 700;
  color: $white;
}

h2 {
  font-family: $primaryFont;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: $veryDarkBlue;
  text-align: center;

  @media #{$mq-1000-up} {
    font-size: 2rem;
  }
}

h3 {
  font-family: $secondaryFont;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: $darkBlue;

  @media #{$mq-1000-up} {
    font-size: 1rem;
    font-weight: 600;
  }
}

a,
a:visited {
  text-decoration: none;
}

p {
  font-size: 0.8rem;
  line-height: 1.3;
  color: $gray;
}

form {
  input[type="email"] {
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 15px 40px;
    color: rgba(0, 0, 0, 0.75);

    &::placeholder {
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.4);
    }
  }

  input[type="submit"] {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 20px;
    padding: 10px 0;
  }
}

// Helper Classes

.blueRadialGradient {
  background: rgb(40, 35, 133);
  background: linear-gradient(
    135deg,
    rgba(16, 10, 110, 1) 0%,
    rgba(70, 64, 152, 1) 55%,
    rgba(134, 130, 206, 1) 100%
  );
}

.wrapper {
  padding: 25px;

  @media #{$mq-1000-up} {
    padding: 52px 80px;
  }
}

.logo {
  position: relative;
  z-index: 1;
  display: block;
  width: 80px;
  height: 35px;
  background-image: url("../img/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  @media #{$mq-1000-up} {
    width: 160px;
  }
}
